{% extends "base.html" %}

{% block title %}Student Dashboard{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg" style="background-color: #142057;">
  <div class="container-fluid" style="color: white;">
    <a class="navbar-brand" href="#" style="color: white; font-weight: bold; font-size: 30px;">SMU Feedback Hub</a>
    <button style="color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: white;" class="navbar-toggler-icon"></span>
    </button>
    <div style="color: white;" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div style="color: white;" class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/portal">Peer Review Portal</a>
        <a style="font-weight: bold;" class="nav-link" href="/dashboard">Performance Dashboard</a>
        <a class="nav-link" href="/student-calender">Evaluation Calander</a>
        <a class="nav-link" href="/">Logout</a>
      </div>
    </div>
  </div>
  <img style="height: 75px; width:auto; margin: 10px 25px;" src="{{ url_for('static', filename='images/logo.png') }}" alt="SMU logo">
</nav>
{% endblock %}

{% block content %}
<style>
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 650px);
    gap: 25px;
    margin: 25px;
    grid-template-rows: auto;
  }
  
  .card {
    height: 400px;
    width: 650px;
  }

.nav-link{
  color: white;
}

.nav-link:hover{
  color: gold;
}
</style>
<h2 style="margin: 25px 0 0 25px;">Student Performance Dashboard</h2>
<div class="grid-container">
  <div class="card">
    <iframe title="avg score by learning outcome bar chart" width="600px" height="400px" style="border: black 2px solid; border-radius: 20px; margin: 25px;" src="https://app.powerbi.com/view?r=eyJrIjoiNjQ2MzM5MmItODc2Yy00OTZhLWIyNjAtMGQ2ZTU2YWI0MGY0IiwidCI6IjYwOTU2ODg0LTEwYWQtNDBmYS04NjNkLTRmMzJjMWUzYTM3YSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  <div class="card">
    <iframe title="S1 Outputs" width="600px" height="400px" style="border: black 2px solid; border-radius: 20px; margin: 25px;" src="https://app.powerbi.com/view?r=eyJrIjoiMjRkMzY3OTgtYTkzMS00MTcwLThkYmQtNThiOTQ0OWM5MzI5IiwidCI6IjYwOTU2ODg0LTEwYWQtNDBmYS04NjNkLTRmMzJjMWUzYTM3YSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  <div class="card">
    <iframe title="Final Sprint 1 Chart 1" width="600px" height="400px" style="border: black 2px solid; border-radius: 20px; margin: 25px;" src="https://app.powerbi.com/view?r=eyJrIjoiMDhlNmRiMDQtMmViNS00NDhmLWIzZDMtYjg1OTg3OGY3YzE0IiwidCI6IjYwOTU2ODg0LTEwYWQtNDBmYS04NjNkLTRmMzJjMWUzYTM3YSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  <div class="card">
    <iframe title="Final Sprint 1 Chart 2" width="600px" height="400px" style="border: black 2px solid; border-radius: 20px; margin: 25px;" src="https://app.powerbi.com/view?r=eyJrIjoiOTQ1OGE0NTUtY2E2NC00OGQzLWEyY2QtZWViZWUwNDRjMDBjIiwidCI6IjYwOTU2ODg0LTEwYWQtNDBmYS04NjNkLTRmMzJjMWUzYTM3YSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  <div class="card">
    <iframe title="evals submitted over time bar chart" width="600px" height="400px" style="border: black 2px solid; border-radius: 20px; margin: 25px;" src="https://app.powerbi.com/view?r=eyJrIjoiYmE5ZTgwMmYtNzAzYi00M2M5LWEyOGEtZmFiZWYwNzg0Y2E5IiwidCI6IjYwOTU2ODg0LTEwYWQtNDBmYS04NjNkLTRmMzJjMWUzYTM3YSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  <div class="card">
    <iframe title="response rate card visuals" width="600px" height="400px" style="border: black 2px solid; border-radius: 20px; margin: 25px;" src="https://app.powerbi.com/view?r=eyJrIjoiOTY1MTlhNTMtZGRiZC00YjdhLTk1NGEtN2MxNjQ3MjViMTljIiwidCI6IjYwOTU2ODg0LTEwYWQtNDBmYS04NjNkLTRmMzJjMWUzYTM3YSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
</div>
{% endblock %}