{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg" style="background-color: #142057;">
    <div class="container-fluid" style="color: white;">
      <a class="navbar-brand" href="#" style="color: white;">SMU Feedback Hub</a>
      <button style="color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span style="color: white;" class="navbar-toggler-icon"></span>
      </button>
      <div style="color: white;" class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div style="color: white;" class="navbar-nav">
          <a style="color: white;  font-weight: bold;" class="nav-link" href="/home">Peer Review Portal</a>
          <a style="color: white;" class="nav-link" href="/dashboard">Performance Dashboard</a>
          <a style="color: white;" class="nav-link" href="/portal">Evaluation Calander</a>
          <a style="color: white;" class="nav-link" aria-current="page" href="/login">Login</a>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}

<style>
  .grid-container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: auto;
    gap: 32px;
  }
  
  .card {
    background-color: peachpuff;
    border: 1px solid black;
    height: 75px;
  }
</style>

<h1 style="margin: 25px;">Peer Review Portal</h1>

<div class="grid-container">
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div> 
</div>

{% endblock %}